button{
    font-family: Montserrat, serif;
    cursor: pointer;
}

.about-menu{
    color: white;
    background-color: transparent;
    width: 100%;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 0;
}

.register-btn{
    background: rgba(248, 43, 9);
    border-radius: 8px;
    color: white;
    width: 350px;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 15px;
}

.delete-btn{
    background: rgba(248, 43, 9);
    border-radius: 8px;
    color: white;
    width: auto;
    border: none;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 15px;
}

.register-btn:hover{
    background: rgb(240, 36, 6);
}

.file-input-btn{
    background: rgb(103, 104, 175);
    border-radius: 8px;
    color: white;
    width: auto;
    border: none;
    padding: 8px 10px;
    text-transform: uppercase;
    font-size: 14px;
    margin: 15px;
}

.file-input-btn:hover{
    background: rgb(44, 45, 102);
}

@media (max-width: 420px) {
    .register-btn{
        width: 90%;
    }
}