@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/*.main{*/
/*    background: url("../../images/1119.jpg");*/
/*    background-repeat: no-repeat;*/
/*object-fit: cover;*/
/*color: black;*/
/*height: 100vh;*/
/*width: 100vw;*/
/**/
/**/
/*}*/

.logo_box{
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: flex-end;
    top: 0;
    left: 24px;
    width: 95%;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 150px;
    height: 70px;
}

.logo_text{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: end;
}

.phone, .apply-link{
    font-family: 'Rubik', sans-serif;
    color: #FF2E06;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    /* padding: 0; */
}
.apply-link{
    position: relative;
}

.apply-link::before {
    content: '';
    background: #FF2E06;
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s ease-in-out;
} 

.apply-link:hover::before,
.apply-link:active::before{
    width: 100%;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_icons {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_icons a{
    color: #F33009;
}

/* .social_icons:hover{ */
    /*background: #F33009;*/
    /*border: #F33009;*/
    /*width: 52px;*/
    /*height: 52px;*/
/* } */

.social_icons svg:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    /*color: #DF3212;*/
    transform: scale(1.1);
    cursor: pointer;
    /*background: #F33009;*/
    /*color: white;*/
    /*border: #F33009;*/
    /*border: #DF3212 1px solid;*/
    animation: animate 1s ease-in-out infinite;
}

.logo-item{
    margin-left: 20px;
}

@keyframes animate {
    0%, 100% {
        width: 30px;
        height: 30px;
    }
    50% {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 700px) {
    .phone{
        margin: 0;
    }
}

@media (max-width: 520px) {
    .logo_box{
        left: 0px;
    }

    .logo_text{
        flex-direction: column;
        align-items: end;
    }

    .apply-link{
        font-size: 18px;
        order: 99;
        padding-right: 10px;
    }

    .phone {
        font-size: 18px;
        order: -1;
        margin-top: 15px;
    }

    .social_icons{
        height: 30px;
        width: 40px;
    }
}

@media (max-width: 400px) {
    .phone ,
    .apply-link {
        font-size: 15px;
    }
}
