@font-face {
  font-family: Montserrat;
  src: local('Montserrat'),url('./fonts/montserrat-regular.ttf') format('truetype');
  font-weight: normal;
}

.font-Montserrat {
  font-family: "Montserrat";
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
}

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
/* main{ */
  /* font-family: 'Montserrat' sans-serif; */
  /*min-height: 70vh;*/
    /* margin: 0; */
/* } */
/*.translate img{*/
/*  width: 40px;*/
/*  height: 30px;*/
/*  border-radius: 10px;*/
/*}*/

.title {
  font-size: 34px;
  color: #FE3E19;
  text-align: center;
}

