.register-user{
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}

.input-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #eee;
    margin: 5px 0;
    padding: 4px;
    border-radius: 3px;
    align-items: center;
}

.label-text{
    margin: 0;
    padding: 0;
}

.input-wrapper:last-child{
   text-align: right;
}